<!doctype html>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="/static/index.css">
<div id="root"></div>
<script src="https://unpkg.com/react@16/umd/react.{{ env }}.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.{{ env }}.js" crossorigin></script>
<script src="https://unpkg.com/@material-ui/core/umd/material-ui.{{ env }}.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/index.js"></script>
